# Python
venv/
__pycache__/
*.pyc

# Backend secrets
backend/.secret_key
.env
till-app/.env
till-app/.env.production

# Node / till-app
till-app/node_modules/
till-app/dist/
till-app/dev-dist/

# Streamlit
dashboard/.streamlit/secrets.toml

# OS
.DS_Store

# Local Netlify folder
.netlify
till-app/tsconfig.tsbuildinfo
